{% extends 'base.html.twig' %}

{% block title %}Редактор признаков сорта{% endblock %}
{% block stylesheet %}
{#    <link rel="stylesheet" href="/assets/css/form.css">#}
{% endblock %}

{% block body %}
    <script language="JavaScript">
        function toggle(source) {
            checkboxes = document.getElementsByClassName('checkbox');
            for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
    <div class="container">
    <h2>Редактирование признаков сорта {{ coffeeSort }}</h2>

    <div style="font-style: italic; margin: 0.5%">
        Выбирите признаки сорта
    </div>
    <form action="{{ path('features_of_sort_edit', {'id': coffeeSort.id}) }}" method="post">
        <div class="container">
            <ul class="cboxtags list-group">
                {% for feature in quanFeatures %}
                    {% if feature in coffeeSort.quanFeatures %}
                        <li class="list-group-item">
                            <input type="checkbox" id="{{ feature.id }}" value="{{ feature.id }}" checked class="checkbox" name="quanFeatures[]">
                            <label for="{{ feature.id }}">{{ feature.name }}</label>
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <input type="checkbox" id="{{ feature.id }}" value="{{ feature.id }}" class="checkbox" name="quanFeatures[]">
                            <label for="{{ feature.id }}">{{ feature.name }}</label>
                        </li>
                    {% endif %}
                {% endfor %}
                {% for feature in countFeatures %}
                    {% if feature in coffeeSort.countFeatures %}
                        <li class="list-group-item">
                            <input type="checkbox" id="{{ feature.id }}" value="{{ feature.id }}" checked class="checkbox" name="countFeatures[]">
                            <label for="{{ feature.id }}">{{ feature.name }}</label>
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <input type="checkbox" id="{{ feature.id }}" value="{{ feature.id }}" class="checkbox" name="countFeatures[]">
                            <label for="{{ feature.id }}">{{ feature.name }}</label>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <input hidden name="submit">
        <input type="checkbox" onClick="toggle(this)" /> Выбрать все<br/>
        <input class="btn btn-primary my-2" type="submit" value="Сохранить" class="nav">
    </form>

    <a href="{{ path('features_of_sort_index') }}" class="nav">Назад к редактору</a>
    </div>
{% endblock %}