{% extends 'base.html.twig' %}

{% block title %}Редактор признаков сортов{% endblock %}

{% block body %}

    <div class="container">
        <h2>Редактирование признаков сортов</h2>
        <table class="table bg-light" >
            <thead>
            <tr>
                <th scope="col">Сорт кофе</th>
                <th scope="col">Признаки сорта</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for coffeeSort in coffeeSorts %}
                <tr>
                    <td scope="row">{{ coffeeSort }}</td>
                    <td>
                        <ul>
                            {% for feature in coffeeSort.quanFeatures %}
                                <li> {{ feature }}</li>
                            {% else %}
                                ...
                            {% endfor %}
                            {% for feature in coffeeSort.countFeatures %}
                                <li> {{ feature }}</li>
                            {% else %}
                                ...
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a class="btn-light nav-link link-dark px-2"  href="{{ path('features_of_sort_edit', {'id': coffeeSort.id}) }}">Редактировать</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">сорта кофе отсутствуют</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('knowledge_editor') }}">назад</a>
{% endblock %}