{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <main class="py-5 form-signin py-lg-5">
        {{ form_start(registrationForm) }}
        <h2 class="font-weight-light">Регистрация</h2>
        <label for="userType">Тип пользователя</label>
        {{ form_row(registrationForm.userType, {
            id: 'userType',
            class: 'p-1'
        }) }}
        <label for="userType">Логин</label>
        {{ form_row(registrationForm.username, {
            id: 'username',
            class: 'custom-select'
        }) }}
        <label for="userType">Пароль</label>
        {{ form_row(registrationForm.plainPassword, {
            id: 'password',
            class: 'form-check-label p-1'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {label_attr: {class: 'checkbox-custom p-1'} }) }}

        <button type="submit" class="btn btn-lg btn-primary p-1">Зарегистрироваться</button>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}
