{% extends 'base.html.twig' %}

{% block title %}Признаки сорта кофе{% endblock %}

{% block body %}
    <style>
        .layer {
            overflow-x: auto; /* Добавляем полосы прокрутки */
            width: calc(100vw - 100px); /* Ширина блока */
            height: 40%; /* Высота блока */
            padding: 5px; /* Поля вокруг текста */
            /*border: solid 1px black; !* Параметры рамки *!*/
        }

        .data-field input {
            width: 40%;
        }
    </style>
    <h2>Редактировать значения признаков сорта {{ coffee_sort.name }}</h2>
    <a href="{{ path('coffee_sort_index') }}">назад</a>
    <div class="layer">
        <table>
            <td>
                {{ form_start(form) }}
                {% do form.name.setRendered() %}
                <ul class="countFeatureValues">
                    {% for quanFeatureValue in form.quanFeatureValues %}
                        <tr>
                            <la class="data-field">{{ form_row(quanFeatureValue.feature) }}</la>
                            {% for featureValue in quanFeatureValue.featureValues %}
                                <la>{{ form_row(featureValue, {'feature': quanFeatureValue.feature}) }}</la>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    {% for countFeatureValue in form.countFeatureValues %}
                        <tr>
                            <la class="data-field">{{ form_row(countFeatureValue.feature) }}</la>
                            <la>{{ form_row(countFeatureValue.min) }}</la>
                            <la>{{ form_row(countFeatureValue.max) }}</la>
                        </tr>
                    {% endfor %}
                </ul>
                <button class="btn">{{ button_label|default('Сохранить') }}</button>
                {{ form_end(form) }}
            </td>
        </table>
    </div>
{% endblock %}