{% extends 'base.html.twig' %}

{% block title %}Редактор признаков{% endblock %}

{% block body %}
    <h1>Список признаков</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Допустимые значения</th>
        </tr>
        </thead>
        <tbody>
        {% for quan_feature in quan_features %}
            <tr>
                <td>{{ quan_feature.name }}</td>
                <td>[{% for value in quan_feature.quanPossibleValues %}
                       {{ value.name}} ,
                    {% else %}
                    ...
                    {% endfor %}]
                </td>
                <td>
                    <button class="green"><a href="{{ path('quan_feature_edit', {'id': quan_feature.id}) }}">Редактировать</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no quan features found</td>
            </tr>
        {% endfor %}
        {% for count_feature in count_features %}
            <tr>
                <td>{{ count_feature.name }}</td>
                <td>[ {{count_feature.countPossibleValues.min }}: {{ count_feature.countPossibleValues.max }} ]</td>
                <td>
                    <button class="green"><a href="{{ path('count_feature_edit', {'id': count_feature.id}) }}">Редактировать</a></button>
{#                    {{ include('count_feature/_delete_form.html.twig') }}#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no count features found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('knowledge_editor') }}">назад</a>
{% endblock %}