{% extends 'base.html.twig' %}

{% block title %}Редактор признаков{% endblock %}

{% block body %}

    <div class="container">
        <h2>Список признаков</h2>
        <table class="table bg-light">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Тип признака</th>
                <th scope="col">Допустимые значения</th>
                <th scope="col">Действия</th>
            </tr>

            </thead>
            <tbody>
            {% for quan_feature in quan_features %}
                <tr>
                    <td scope="row">{{ quan_feature.name }}</td>
                    <td>качественный</td>
                    <td>{% for value in quan_feature.quanPossibleValues %}
                            <p>{{ value.name }}</p>
                        {% else %}
                            ...
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn-light nav-link link-dark px-2"
                           href="{{ path('quan_feature_edit', {'id': quan_feature.id}) }}">Редактировать</a>
                        </button>
                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">{{ include('quan_feature/_delete_form.html.twig') }}</span>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">качественные признаки отсутствуют</td>
                </tr>
            {% endfor %}
            {% for count_feature in count_features %}
                <tr>
                    <td>{{ count_feature.name }}</td>
                    <td>количественный</td>
                    <td>{% if count_feature.countPossibleValues %}
                            [ {{ count_feature.countPossibleValues.min }}: {{ count_feature.countPossibleValues.max }} ]
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn-light nav-link link-dark px-2"
                           href="{{ path('count_feature_edit', {'id': count_feature.id}) }}">Редактировать</a>

                    </td>
                    <td>
                        <span class="badge badge-primary badge-pill">{{ include('count_feature/_delete_form.html.twig') }}</span>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">количественные признаки отсутствуют</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="center bg-light">
        <h2>Добавить признак: </h2>
        <a class="btn-light nav-link link-dark px-2" href="{{ path('quan_feature_new') }}">качественный</a>
        <a class="btn-light nav-link link-dark px-2" href="{{ path('count_feature_new') }}">количественный</a>
    </div>
{% endblock %}
