{% extends 'base.html.twig' %}

{% block title %}Редактор признаков{% endblock %}

{% block body %}
    <h1>Список признаков</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for quan_feature in quan_features %}
            <tr>
                <td>{{ quan_feature.name }}</td>
                <td>
                    {{ include('quan_feature/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no quan features found</td>
            </tr>
        {% endfor %}
        {% for count_feature in count_features %}
            <tr>
                <td>{{ count_feature.name }}</td>
                <td>
                    {{ include('count_feature/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no count features found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#Качественный признак <input type="checkbox" id="quanFeature" >
    Количественный признак <input type="checkbox" id="countFeature">#}

    {#<button onclick="myFunction()">Добавить</button>#}
    <a>Добавить признак: </a>
    <ul>
        <li><button class="green"><a href="{{ path('quan_feature_new') }}">качественный</a></button></li>
        <li><button class="green"><a href="{{ path('count_feature_new') }}">количественный</a></button></li>
    </ul>


    <script>
        function myFunction() {
            var btn = document.createElement("BUTTON");
            if(document.getElementById("quanFeature").checked){

                btn.innerHTML = "create quan feature";
                document.body.appendChild(btn);
            }else if(document.getElementById("countFeature").checked){
                btn.innerHTML = "create count feature";
                document.body.appendChild(btn);
            }

        }
    </script>
    <a href="{{ path('knowledge_editor') }}">назад</a>

{#    <a href="{{ path('feature_new') }}">Create new</a>#}
{% endblock %}
