{% extends 'base.html.twig' %}

{% block title %}Значение признаков сорта{% endblock %}

{% block body %}
    <style>
    </style>
    <div class="container">
    <h2>Редактор значений признаков для сорта</h2>
    {% if coffeeSort %}
        <form action="{{ path('value_of_feature') }}" method="post">
            <div class="input-group">
                <select name="select" required class="custom-select" id="inputGroupSelect04">
                    <option value="{{ coffeeSort.id }}"> {{ coffeeSort }}</option>
                    {% for otherSort in coffeeSorts %}
                        {% if otherSort != coffeeSort %}
                            <option value="{{ otherSort.id }}">{{ otherSort }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <input type="hidden" name="submit">
                    <input type="submit" value="Выбрать" class="btn btn-outline-secondary">
                </div>
            </div>

            <div class="white_space">.</div>
        </form>

        {% include 'value_of_feature/table.html.twig' with {
            coffeeSort: coffeeSort,
            countFeatureValue: countFeatureValue,
            quanFeatureValue : quanFeatureValue
        } %}
    {% else %}
        <form action="{{ path('value_of_feature') }}" method="post">
            <div class="input-group">
                <select name="select" required class="custom-select" id="inputGroupSelect04">
                    <option selected disabled>Выберите сорт</option>
                    {% for otherSort in coffeeSorts %}
                        <option value="{{ otherSort.id }}">{{ otherSort }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <input type="hidden" name="submit">
                    <input type="submit" value="Выбрать" class="btn btn-outline-secondary">
                </div>
            </div>
        </form>
    {% endif %}
{#    <a href="{{ path('knowledge_editor') }}">назад</a>#}
    </div>
{% endblock %}
