{% extends 'base.html.twig' %}

{% block title %}Редактировать значение признака сорта{% endblock %}

{% block body %}
    <div class="container bg-light">
    <h2>Редактировать значение признака сорта {{ coffeeSort }}</h2>
    {% if featureValues %}
    <form action="{{ path('value_of_quan_feature_edit', {'sortId': coffeeSort.id, 'featureId': feature.id}) }}" method="post">
        <div class="container">
            <ul class="list-group">
                {% for value in values %}

                    {% if value in featureValues %}
                        <li class="list-group-item">
                            <input type="checkbox" id="{{ value.id }}" value="{{ value.id }}" checked class="checkbox" name="values[]">
                            <label for="{{ value.id }}">{{ value.name }}</label>
                        </li>
                    {% else %}
                        <li class="list-group-item ">
                            <input type="checkbox" id="{{ value.id }}" value="{{ value.id }}" class="checkbox" name="values[]">
                            <label for="{{ value.id }}">{{ value.name }}</label>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <input hidden name="submit">
        <input type="submit" value="Сохранить" class="btn btn-lg btn-primary mt-1">
    </form>
    {% else %}
        <a>Добавьте возможные значения признака</a>
        <button class="btn btn-lg btn-primary mt-1"><a href="{{ path('quan_feature_edit', {'id': feature.id}) }}">Редактировать</a>
        </button>
    {% endif %}
        <a href="{{ path('value_of_feature',{'sortId':coffeeSort.id}) }}">назад</a>
    </div>

{% endblock %}