{% extends 'base.html.twig' %}

{% block title %}Coffee{% endblock %}

{% block body %}
    <h1>Coffee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coffee.id }}</td>
            </tr>
            <tr>
                <th>GrowthHeight</th>
                <td>{{ coffee.growthHeight }}</td>
            </tr>
            <tr>
                <th>Rainfall</th>
                <td>{{ coffee.rainfall }}</td>
            </tr>
            <tr>
                <th>AverageGrowingTemperature</th>
                <td>{{ coffee.averageGrowingTemperature }}</td>
            </tr>
            <tr>
                <th>AverageHeightCoffeeTree</th>
                <td>{{ coffee.averageHeightCoffeeTree }}</td>
            </tr>
            <tr>
                <th>GrainSize</th>
                <td>{{ coffee.grainSize }}</td>
            </tr>
            <tr>
                <th>KindOfCoffeeTree</th>
                <td>{{ coffee.kindOfCoffeeTree }}</td>
            </tr>
            <tr>
                <th>AveragePricePerKilogram</th>
                <td>{{ coffee.averagePricePerKilogram }}</td>
            </tr>
            <tr>
                <th>EvaluationCQL</th>
                <td>{{ coffee.evaluationCQL }}</td>
            </tr>
            <tr>
                <th>CaffeineContent</th>
                <td>{{ coffee.caffeineContent }}</td>
            </tr>
            <tr>
                <th>Density</th>
                <td>{{ coffee.density }}</td>
            </tr>
            <tr>
                <th>Kislotnost</th>
                <td>{{ coffee.kislotnost }}</td>
            </tr>
            <tr>
                <th>GrowthHeightMin</th>
                <td>{{ coffee.growthHeightMin }}</td>
            </tr>
            <tr>
                <th>GrowthHeightMax</th>
                <td>{{ coffee.growthHeightMax }}</td>
            </tr>
            <tr>
                <th>RainfallMin</th>
                <td>{{ coffee.rainfallMin }}</td>
            </tr>
            <tr>
                <th>RainfallMax</th>
                <td>{{ coffee.rainfallMax }}</td>
            </tr>
            <tr>
                <th>GrowingTemperatureMin</th>
                <td>{{ coffee.growingTemperatureMin }}</td>
            </tr>
            <tr>
                <th>GrowingTemperatureMax</th>
                <td>{{ coffee.growingTemperatureMax }}</td>
            </tr>
            <tr>
                <th>AverageHeightCoffeeTreeMin</th>
                <td>{{ coffee.averageHeightCoffeeTreeMin }}</td>
            </tr>
            <tr>
                <th>AverageHeightCoffeeTreeMax</th>
                <td>{{ coffee.averageHeightCoffeeTreeMax }}</td>
            </tr>
            <tr>
                <th>GrainSizeMin</th>
                <td>{{ coffee.grainSizeMin }}</td>
            </tr>
            <tr>
                <th>GrainSizeMax</th>
                <td>{{ coffee.grainSizeMax }}</td>
            </tr>
            <tr>
                <th>AveragePricePerKilogramMin</th>
                <td>{{ coffee.averagePricePerKilogramMin }}</td>
            </tr>
            <tr>
                <th>AveragePricePerKilogramMax</th>
                <td>{{ coffee.averagePricePerKilogramMax }}</td>
            </tr>
            <tr>
                <th>EvaluationCQLMin</th>
                <td>{{ coffee.evaluationCQLMin }}</td>
            </tr>
            <tr>
                <th>EvaluationCQLMax</th>
                <td>{{ coffee.evaluationCQLMax }}</td>
            </tr>
            <tr>
                <th>CaffeineContentMin</th>
                <td>{{ coffee.caffeineContentMin }}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ coffee.class }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('coffee_index') }}">back to list</a>

    <a href="{{ path('coffee_edit', {'id': coffee.id}) }}">edit</a>

    {{ include('coffee/_delete_form.html.twig') }}
{% endblock %}
