{% extends 'base.html.twig' %}

{% block title %}возможные значения{% endblock %}

{% block body %}
    <div class="container bg-light">
        <h3> {{ quan_feature.name }} : возможные значения</h3>

        <ul class="list-group">
            {% for possible_value in quan_feature.quanPossibleValues %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ possible_value.name }}
                    <span class="badge badge-primary badge-pill">{{ include('quan_feature/_quan_possible_delete.html.twig') }}</span>
                </li>
            {% else %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Значения не добавлены
                </li>
            {% endfor %}
        </ul>
        {{ include('quan_feature/_form.html.twig') }}
        <a href="{{ path('feature_index') }}">назад</a>
    </div>
{% endblock %}
